.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-grow {
  flex-grow: 1;
}

.button-group {
  display: flex;
  flex-wrap: nowrap;
}

.header-wrapper {
  display: flex;
  align-items: center; /* optional, aligns the items vertically */
}

.sorting-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.sorting-icons img {
  width: 10px;
  height: 10px;
  filter: invert(1);
}

