* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.page-content {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    color: #fff;
    background-color: #5995DA;
}

.navbar-logo img {
    height: 50px;
    margin-left: 20px;
}

.navbar-search {
    display: flex;
    align-items: center;
    align-self: center;
    width: 50%;
}

.navbar-search select,
.navbar-search input {
    height: 30px;
    margin-right: 10px;
}

.navbar-search input {
    width: 100%;
}

.navbar-links a {
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
}

.navbar-links a:hover {
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #5995DA;
    color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
    padding-left: 5px;
    padding-top: 5px;
}

.dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.login-container img {
    width: 100px;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5995DA;
    color: white;
    cursor: pointer;
}

.category-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    max-width: 1200px;
    margin: 0 auto;
}

.category img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.card-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    flex: 0 1 calc(25% - 1em);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 200px;
}

.product-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-name {
    font-size: 18px;
    font-weight: bold;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.favorite-btn:hover {
    color: #5995DA;
}

.product-card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: #777;
}

.expires-in {
    font-size: 12px;
    color: #ff0000;
}

.product-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-price {
    color: #000;
}

.add-to-cart-btn {
    background-color: #5995DA;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: #007bff;
}

.product-card-img {
    width: 200px;
    height: 200px;
    align-self: center;
    object-fit: cover;
    border-radius: 5px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.product-img {
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info {
    max-width: 300px;
    border: 1px solid #ddd;
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-short-description,
.product-expires-in {
    margin-bottom: 10px;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.add-to-cart-btn {
    background-color: #5995DA;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: #007bff;
}

.product-long-description {
    margin-top: 20px;
}

.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: white;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-field {
    width: 48%;
}

form label {
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form input[type="submit"] {
    cursor: pointer;
    background-color: #5995DA;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #007bff;
}

.checkout-items {
    margin-bottom: 20px;
}

.checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.checkout-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.item-info {
    flex-grow: 1;
}

.item-price {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.checkout-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    padding-top: 20px;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
}

.checkout-btn {
    background-color: #5995DA;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.checkout-btn:hover {
    background-color: #007bff;
}

#topBtn,
#downBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #555;
    /* Add a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#topBtn {
    right: 30px;
    /* Place the button 30px from the right */
}

#downBtn {
    right: 70px;
    /* Place the button 70px from the right */
}

#topBtn:hover,
#downBtn:hover {
    background-color: #444;
    /* Add a dark-grey background on hover */
}

.category-img {
    transition: transform 0.3s ease;
}

.category:hover img {
    transform: scale(1.1);
  }

.category {
    position: relative;
    display: flex;
    align-items: center;
}

.image-hint {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 0.5rem;
  visibility: hidden;
}

.category:hover .image-hint {
    visibility: visible;
}